body{
    margin: 0;
}
.banner{
    height: 40vh;
    background: rgb(22, 2, 2);
}
.header{
    font-size: 50px;
    margin: 0 0 0 100px;
}
.popularMovies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Consider reducing or removing margins if layout is broken */
    margin-left: 20px;
    margin-right: 20px;
}
.movielist{
    width: 220px;
    height: 300px;
    background: rgb(179, 16, 16);
    margin: 30px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}